/*Sticky footer*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
/*Style for slow showing effect*/
.slow-show {
	opacity: 0.0;
}
/* Div with framework info */
.framework {
	padding: 10px 15px;
}
/*Target Wrapper*/
.fixed-action-btn {
	bottom: 45px;
	right: 45px;
	visibility: hidden;
}
.tap-target-wrapper {
	position: fixed;
	right: -331px;
	bottom: -327px;
}
.tap-target-content {
	width: 456px;
	height: 400px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	padding: 56px;
	vertical-align: bottom;
}
/*Switcher in accardion to right side*/
.collapsible-header {
	position: relative;
	cursor: default;
}
.collapsible-secondary {
	position: absolute;
	right: 20px;
}
/*Switch color*/
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #03a9f4  !important;
}
.switch label input[type=checkbox]:checked+.lever {
    background-color: #81d4fa  !important;
}
/*Checkboxes color*/
[type="checkbox"]:checked + span:not(.lever):before {
	border-right: 3px solid #0277bd;
    border-bottom: 2px solid #0277bd;
}
[type="checkbox"].filled-in:checked + span:not(.lever):after {
	border: 2px solid #0277bd;
    background-color: #0277bd;
}
/*Frameworks list in list of components*/
.frameworks-list a {
	cursor: pointer;
}
.frameworks-list .inactive {
	cursor: default;
	opacity: 0.3;
	filter:grayscale(100%);
}
/*Iframe with information about each component*/
iframe {
	height: 75%;
	width: 100%;
	border: 1px solid #909090;
	margin-bottom: 10px;
}
